apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana-operator
  namespace: monitoring
spec:
  interval: 1m
  chart:
    spec:
      chart: grafana-operator
      version: "v5.6.0"
      sourceRef:
        kind: HelmRepository
        name: grafana-charts
        namespace: monitoring
  install:
    createNamespace: false
  upgrade:
    remediation:
      retries: 3
