apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prometheus-community
  namespace: monitoring
spec:
  interval: 1m
  releaseName: prometheus
  chart:
    spec:
      chart: kube-prometheus-stack
      version: "80.10.0"
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: prometheus-community
  valuesFrom:
  - kind: ConfigMap
    name: prometheus-community-values
    valuesKey: values.yaml
